<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-jb-analytics" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>JBAnalyticsPlugin</name>
    <js-module name="JBAnalyticsPlugin" src="www/JBAnalyticsPlugin.js">
        <clobbers target="cordova.plugins.JBAnalyticsPlugin" />
    </js-module>

     <platform name="android">    
        <source-file src="src/android/JBAnalyticsPlugin.java" target-dir="src/com/zhaoyin/analytics"/>    
        <config-file target="res/xml/config.xml" parent="/*">    
            <feature name="JBAnalyticsPlugin">    
                <param name="android-package" value="com.zhaoyin.analytics.JBAnalyticsPlugin"/>    
            </feature>    
        </config-file>    
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="JBAnalyticsPlugin">
                <param name="ios-package" value="JBAnalyticsPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/JBAnalyticsPlugin.h" />
        <source-file src="src/ios/JBAnalyticsPlugin.m" />
    </platform>    
</plugin>
